body {
  margin-top: 0;
}

.blog_header {
  text-align: center;
  background-color: rgb(18, 17, 18);
  padding-top: 75px;
  padding-bottom: 25px;

  font-size: xx-large;
  font-weight: 900;
}

/* Ensure that sticky behavior doesn't overlap with content */
.main_blog_container {
  display: flex;
  justify-content: center; /* Space between main blog and sidebars */
  align-items: stretch;
  border-top: 1px solid #57595e;
  margin-top: 0;
}

.blog_sidebar, .toc_sidebar {
  width: 25%;
  max-width: 300px;
  margin: 10px;
  margin-top: 0;
}

.blog_sidebar {
  border-right: 1px solid #57595e;
  max-width: 200px;
}

.sidebar_content {
  height: fit-content;
}

.main_blog {
  width: 60%;  /* Content section takes up remaining space */
  margin-top: 0;
}

nav ul, .toc_sidebar ul {
  list-style: none;
  padding: 0;
}

nav ul li, .toc_sidebar li {
  margin: 10px;
  font-size: large;
}

a {
  text-decoration: none;
  color: #007acc;
}

a:hover {
  text-decoration: underline;
}

article {
  padding: 10px;
}

.toc_sidebar h2, .blog_sidebar h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.toc_sidebar li {
  margin: 5px 0;
}

.toc_sidebar {
  border-left: 1px solid #57595e;
  padding-left: 15px;
}


